{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src="{{ asset('img/20150725_203559000_iOS.jpg') }}">
        </div>
        <div class="col-sm-6">

            <h1>Zusage</h1>

            <form method="post" action="{{ path('access') }}">
                <div class="form-group">
                    <label for="input-code">Karten-Code</label>
                    <input type="text" class="form-control" id="input-code" placeholder="Karten-Code" name="code">
                </div>

                <button class="btn btn-primary btn-block" type="submit">Zusage geben</button>
            </form>

        </div>
    </div>

{% endblock %}
