body {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.mid-text {
    font-size: 35px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fw-site-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

/**
 * FOOTER
 */

.fw-site-footer {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #EEEEEE;
}

.fw-site-footer a {
    margin-left: 19px;
}

.fw-site-footer a:link, .fw-site-footer a:visited {
    color: #000000;
    text-decoration: none;
}

.fw-site-footer a:hover {
    color: #269abc;
    text-decoration: none;
}

/*
 * CONTENT
 */

.fw-site-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
